<%= form_for(@outline) do |f| %>
  <% if @outline.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@outline.errors.count, "error") %> prohibited this outline from being saved:</h2>

      <ul>
      <% @outline.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
