<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @outline.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @outline.content %>
</p>

<%= link_to 'Edit', edit_outline_path(@outline) %> |
<%= link_to 'Back', outlines_path %>
